@page
@model IndexModel
@{
    ViewData["Title"] = "Employee Benefit Cost";
}
      <div class="row">
          <div id="pageTitle" class="col"><h1>Employee Benefit Cost Analysis</h1></div>            
      </div>
        <div class="row">
            <div class="col"><h3>Deduction Calculation Tools</h3></div>     
        </div>
        
        <div class="row">
          <div class="col">   
              <div class="form-check form-switch">
                <input id="applyDiscount" class="form-check-input" type="checkbox" name="applyDiscount" checked>
                <label class="form-check-label" for="applyDiscount">Apply Name Discount</label>
              </div>               
          </div>
          <div class="col">
            <label>Pay Per Period
              <input id="payPerCheck" type="text" value="2000" onblur="BenefitCostCalculator.CalculateBenefitCost();">
            </label> 
          </div>
          <div class="col">
            <label>Number of Pay Periods
              <input id="numOfPeriods" type="text" value="26" onblur="BenefitCostCalculator.CalculateBenefitCost();">
            </label>
          </div>      
        </div>
        <hr>
        <div class="row">
            <div class="col"><h3>Employee Information</h3></div>
        </div>
        <div class="row">
            <div class="col-3">
              <label for="employeeName">Name</label>
              <input id="employeeName" class="employeeName" type="text" onblur="BenefitCostCalculator.AddBenefitCost('.employeeName', '#employeeBenefitCost')" />            
            </div>
            <div class="col-3">
              <label>Benefit Cost</label>  
              <input class="cost" id="employeeBenefitCost" type="text">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col"><h3>Dependent Information</h3></div>
        </div>
        <div id="dependentContainer" class="row"></div>
      
        <a id="addDependent" href="#"><i class="fa-solid fa-plus"></i> Add Dependent</a>
        <hr>
        
        <h3>Benefit Cost</h3>
          <div class="totalCostContainer">
          <label> Annual Cost
            <input class="annualCost">
          </label>
          <label> Paycheck Deduction
            <input class="paycheckDeduction">
          </label>
          <label> Pay After Deduction 
            <input class="payAfterDeduction">
          </label>
        </div>

@section Scripts
{
    <script>
    $('#addDependent').on("click", function () {
        var numberOfDependents = $('#dependentContainer > div').length;

        var dependentNameId = "dependent" + (numberOfDependents + 1) + "Name";
        var dependentCostId = "dependent" + (numberOfDependents + 1) + "BenefitCost";

        $('#dependentContainer').append('<div>' +
            '  <label> Name      ' +
            '    <input id=' + dependentNameId + ' type="text"  onblur="BenefitCostCalculator.AddBenefitCost(' + dependentNameId + ', ' + dependentCostId + ')"> ' +
            '  </label>' +
            '  <label> Annual Benefit Cost' +
            '    <input class="cost" id=' + dependentCostId + ' type="text">' +
            '  </label>' +
            '  <button onclick="RemoveDependent(this)"><i id="removeDependent" class="fa-solid fa-minus"></i> Remove Dependent</button>' +
            '</div>');
    });
    </script>
}